@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
*{
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh ;
    background-color: #2c3a47;
}
.currency-converter{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 350px;
}
h1{
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: #3498db;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px dashed #ccc;
    border-top: 2px dashed #ccc;
}
.box{
    height: 200px;
    width: 100%;
    background-image: url("./assets/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.input-container{
   margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-weight: 500;
}
input,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
    outline: none;
}
input:focus,select:focus{
    border-color: #3498db;
}
.result{
    margin: 20px 0px;
    padding: 10px;
    border: 2px dotted #3498db;
    border-radius: 6px;
}
.result p{
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    color: #3498db;
}